.top-bar {
	display: none;
	align-items: center;
	justify-content: space-between;
	background: #F1F1F1;
	box-sizing: border-box;
	color: #221567;
	position: sticky;
	top: 0px;
	z-index: 9999;
	background-color: rgba(15,76,129,.15)!important;
    backdrop-filter: blur(6px)!important;
    position: fixed;
    width: 100%;
    color: white;
}
.logo-main {
	display: flex;
	align-items: center;
}
.logo {
	margin: 10px 0;
	width: 50px;
}
.logo-title {
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	margin-left: 15px;	
}
.top-menu {
	cursor: pointer;
	font-weight: bold;
	font-size: 22px;
	line-height: 64px;
	transition: all 0.3s linear;
}
.top-menu:hover {
	color: #FFD029;
}
.top-mr {
	margin-right: 70px;
}
.top-social {
	margin-right: 0;
}
.top-social a {
	margin-right: 15px;
}

.top-social img {
	width: 40px;
	transition: 0.3s ease-in-out;
	border-radius: 50px;
    box-shadow: 1px 1px 5px 5px #22fd22;

}

.top-social img:hover {
	transform: scale(1.07);
	border-radius: 50px;
    box-shadow: 1px 1px 3px 3px #2CAB8D;
}

.sub-menu {
	position: fixed;
	top: 0px;
	left: 0px;
	right: inherit;
	z-index: 1100;
	width: 0%;
	height: 100%;
	transition: all 0.5s ease 0s;
	overflow: auto;
	background: white;
}

.sub-menu > div {
	padding: 1.8em 1.8em 1.8em 1.8em;
	font-size: 1.15em;
}

.mobile-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	position: sticky;
	z-index: 999;
	top: 0px;
	background: white;
}

.menu-list {
	cursor: pointer;
	width: 40px;
	height: 40px;
}

.mobile-item {
	padding: 24px 24px 24px 0px;
  border-bottom: 1px solid #efefef;
	cursor: pointer;
	transition: all 0.3s linear;
}

.mobile-item:hover {
	color: #FFD029;
}

.overlay {
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background: #d8d8d84d;
	opacity: 1;
	transition: opacity 0.3s ease 0s;
	top: 0px;
	left: 0px;
}

@media (min-width: 768px) {
	.logo {
		margin: 10px 15px;
		width: 50px;
	}

	.logo-title {
		margin: 0px;
	}
	.mobile-nav {
		display: none;
	}
	.top-bar {
		display: flex;
	}
	.top-social {
		margin-right: 15px;
	}
}

@media (min-width: 993px) {
	.logo-title{
		font-size: 15px;
	}
	.top-menu {
		font-size: 20px;
	}
	.logo{
		width: 70px;
	}
}

@media (min-width: 1200px) {
	.logo-title{
		font-size: 25px;
	}
	.top-menu {
		font-size: 30px;
	}
	.logo{
		width: 95px;
	}
	.top-social{
		margin-right: 41px;
	}
	.top-social img {
		width: 50px;
	}
}

@media (min-width: 1440px) {
	.top-menu {
		font-size: 32.8502px;
	}
	.logo-title {
		font-size: 52.753px;
	}
	.logo{
		width: 120px;
	}
}